.bg-color-card {
    background-color: burlywood;
    color: white;
    text-align: center;
    padding: 2px 0px 2px 0px;
    margin: 12px 0px;
    width: auto;
    height: 100px;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}
